
p {
    color:black;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-right: 150px;
    margin-left: 180px;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
h1{
  text-align: center;
  color:rgb(255, 132, 0);
  line-height: 5ex;
  font-size: 6.5ex;
  text-shadow:  2px 2px 5px rgb(5, 5, 4);
}
h2{
  text-align: center;
  color:rgb(12, 10, 8);
  font-size: 4ex;
  letter-spacing: 0.20cm;
}

div{
  text-align: justify;
  font-size: 3ex;
}
/* Style the side navigation */
.sidenav {
  background-image: none;
  background-size: cover;
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  padding-top: 5%;
  padding-bottom: -35%;
  padding-right: 0.30cm;
  height: 83%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: rgb(236, 103, 9);
  background-color: rgba(255, 248, 220, 0.603);
  overflow-x: hidden;
  
}
/* Side navigation links */
.sidenav a {
  color: rgb(255, 255, 255);
  padding: 30px;
  text-decoration: none;
  display: block;
  font-size: large;
  background-color: rgba(241, 139, 14, 0.541);
  border-style: none;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #eee;
  color: black;
}

/* Style the content */
.content {
  
  margin-left: 325px;
  margin-right: 25px;
  padding: 30px;
  border-style: solid;
  border-color:rgb(209, 118, 8);
  background-color: rgba(255, 132, 0, 0.493);
}
.aligncenter {
  text-align: center;
}
img{
  
  margin-top: 2cm;
  margin-bottom: 1cm;
  padding:0.5cm;
  border-style:solid;
  border-color:chocolate;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  background-color: rgb(255, 255, 255);
}
.title{
  margin-left: 0.6cm;
  margin-top: 0.2cm;
  margin-bottom: 0.5cm;
  letter-spacing: 0.05cm;
  border-color: seagreen;
  text-shadow:  2px 2px 5px rgb(177, 87, 4);
  letter-spacing: 0.10cm;
}
mark{
  background-color: rgba(210, 105, 30, 0.589);
}
